/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header Section */
#high-scores {
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    background-color: #fff;
}

#high-scores:hover {
    border: 2px solid rgb(25, 0, 69);
    border-radius: 0.5rem;
    background-color: rgb(25, 0, 69);
    color: #fff;
}

.header-wrapper {
    height: 15vh;
    margin: 1rem;
}

.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Main Content Section */
.main {
    display: flex;
    justify-content: center;
}

.main h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    font-size: 3rem;
}

.main p {
    font-size: 1.5rem;
    text-align: center;
}

.section-wrapper {
    padding: 0 30rem;
}

.question {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answers {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

/* Button Section */
#button {
    border: 2px solid rgb(25, 0, 69);
    background-color:rgb(25, 0, 69);
    border-radius: 0.5rem;
    width: 10rem;
    height: 3.5rem;
    color: #fff;
    font-size: 1.3rem;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
